@font-face {
    font-family:hamburgBold;
    src: url(../fonts/Hamburg-Bold.ttf);
}

/*COMMON*/
html, body {
	height: 100%;
	width: 100%;
}
.full {
	width: 100%;
	height: 100%;
	display: block;
}

/*MENU*/
.bg {
	z-index: 0;
	background-color: red;
}

.content {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.bg-chess div {
	float: left;
	display: block;
	width: 50%;
	height: 50%;
}

/*.bg-chess div:nth-child(2), .bg-chess div:nth-child(3) {
	background-color: #313437;
}*/

.game-title {
	position: absolute;
	top: 7%;
	display: block;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	color: #313437;
}

.button.play {
	position: absolute;
	right: -webkit-calc(25% - 60px);
	bottom: 18%;
	font-size: 50px;
	line-height: 80px;
	color: #313437;
	border-color: #313437;
}
	.button.play.activated {
		color: #f8f8f2;
		background-color: #313437;
	}


/*GAMEBOARD DIRECTIVE*/
.view-port {
	position: relative;
}
	.view-port .game-row {
		height: 25%;
		width: 100%;
		background-color: #f8f8f2;
		position: absolute;
	}
		.view-port .game-row span {
			display: inline-block;
			margin: 0;
			height: 100%;
			width: 25%;
			background-color: #f8f8f2;
			border: 1px solid #313437;
		}
		.view-port .game-row .black {
			background-color: #313437;
		}
		.view-port .game-row .red {
			background-color: #f1274e;
		}
		.view-port .game-row .green {
			background-color: #a6d627;
		}

.pause {
	position: absolute;
	top: 10px;
	left: 10px;
}



/*GAMEOVER*/
.popup-title {
	font-size: 22px;
}

.highscore {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 50px;
	padding: 20px 0;
}

.popup-buttons .button.again {
	color: #313437;
	border-color: #313437;
}
	.popup-buttons .button.again.activated {
		color: #f8f8f2;
		background-color: #313437;
	}

/*COUNTDOWN*/
.countdown {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}

	.countdown span {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		color: #f8f8f2;
		font-size: 50px;
	}


.flash {
	-webkit-animation: flash 1s infinite;
			animation: flash 1s infinite;
}





/**LEVONA EDITS**/


.bar.bar-positive {
	padding:5px 0 5px 0;
	background: #383b46; /* Old browsers */
	background: -moz-linear-gradient(left,  #383b46 0%, #464450 35%, #4f474e 67%, #45413b 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#383b46), color-stop(35%,#464450), color-stop(67%,#4f474e), color-stop(98%,#45413b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* IE10+ */
	background: linear-gradient(to right,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b46', endColorstr='#45413b',GradientType=1 ); /* IE6-9 */

}


 .bar .title.title-left {
      text-align: center; 
      font-family: hamburgBold;
      text-transform: uppercase;
      letter-spacing: 3px;
  }

.tabs-positive > .tabs, .tabs.tabs-positive {
  border-width: 0px 0px 2px 0px !important;
  border-color: #f1e662;
  background-image: linear-gradient(0deg, #f1e662, #f1e662 50%, transparent 50%);
  color: #fff;
  /**background colour**/
  	background: #383b46; /* Old browsers */
	background: -moz-linear-gradient(left,  #383b46 0%, #464450 35%, #4f474e 67%, #45413b 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#383b46), color-stop(35%,#464450), color-stop(67%,#4f474e), color-stop(98%,#45413b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* IE10+ */
	background: linear-gradient(to right,  #383b46 0%,#464450 35%,#4f474e 67%,#45413b 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b46', endColorstr='#45413b',GradientType=1 ); /* IE6-9 */

}
.tabs-top.tabs-striped .tab-item.tab-item-active{
  margin-top: 1px;
  border-color: #f1e662;
  border-width: 0px 0px 4px 0px !important;
  border-style: solid;
}

 .tabs-top > .tabs, .tabs.tabs-top {
  /* top: 44px; */
  bottom:0;
  padding-top: 0;
  background-position: bottom;
  border-top-width: 0;
  border-bottom-width: 1px;
}

/*** Tiles ***/


/**Blocks**/
.box{

	height:95vh;
	/**background main**/
	background: #33405a; /* Old browsers */
	background: -moz-linear-gradient(top,  #33405a 1%, #7a5866 38%, #775d58 58%, #514c63 85%, #33405a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#33405a), color-stop(38%,#7a5866), color-stop(58%,#775d58), color-stop(85%,#514c63), color-stop(100%,#33405a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33405a 1%,#7a5866 38%,#775d58 58%,#514c63 85%,#33405a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33405a 1%,#7a5866 38%,#775d58 58%,#514c63 85%,#33405a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33405a 1%,#7a5866 38%,#775d58 58%,#514c63 85%,#33405a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #33405a 1%,#7a5866 38%,#775d58 58%,#514c63 85%,#33405a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33405a', endColorstr='#33405a',GradientType=0 ); /* IE6-9 */

}